// colors
$dark-black: #000;
$light-font-color: #F1F1F1;
$med-light-font-color: #DCDCDC;
$base-font-color: #AAAAAA;
$dim-font-color: #707070;
$dim-fill-color: #484848;
$dark-reverse-font-color: #292929;

$dim-stroke: #2F2F2F;

$background: #1e1e1e;
$black: #090909;

$link-hilite: #3B7CA0;
$link-off: #3B5A6B;

$level-10: #00FF47;
$level-9: #61FF00;
$level-8: #ADFF00;
$level-7: #DBFF00;
$level-6: #FAFF04;
$level-5: #FFD704;
$level-4: #FFAA06;
$level-3: #FF7E06;
$level-2: #FF4400;
$level-1: #FF0000;

$level-10-foreground: rgba($level-10, 0.3);
$level-9-foreground: rgba($level-9, 0.3);
$level-8-foreground: rgba($level-8, 0.3);
$level-7-foreground: rgba($level-7, 0.3);
$level-6-foreground: rgba($level-6, 0.3);
$level-5-foreground: rgba($level-5, 0.3);
$level-4-foreground: rgba($level-4, 0.3);
$level-3-foreground: rgba($level-3, 0.3);
$level-2-foreground: rgba($level-2, 0.3);
$level-1-foreground: lighten($level-1, 20%);

$level-foregrounds: $level-1-foreground, $level-2-foreground, $level-3-foreground, $level-4-foreground, $level-5-foreground, $level-6-foreground, $level-7-foreground, $level-8-foreground, $level-9-foreground, $level-10-foreground;

$level-10-background: rgba($level-10, 0.05);
$level-9-background: rgba($level-9, 0.05);
$level-8-background: rgba($level-8, 0.05);
$level-7-background: rgba($level-7, 0.05);
$level-6-background: rgba($level-6, 0.05);
$level-5-background: rgba($level-5, 0.05);
$level-4-background: rgba($level-4, 0.05);
$level-3-background: rgba($level-3, 0.05);
$level-2-background: rgba($level-2, 0.05);
$level-1-background: rgba($level-1, 0.05);

$level-backgrounds: $level-1-background, $level-2-background, $level-3-background, $level-4-background, $level-5-background, $level-6-background, $level-7-background, $level-8-background, $level-9-background, $level-10-background;

$primary-action-foreground: rgba(#C8FB37, 0.36);
$secondary-action-foreground: $level-4-foreground;