// view toggling
// =======================================
%hide {
  display: none;
}

%show {
  display: block;
}

%hide-override {
  display: none !important;
}

%show-override {
  display: block !important;
}

// layout
// ==========================================
%flex {
  display: flex;
}

%flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

%flex-col {
  flex-direction: column;
}

%flex-0-1 {
  @extend %flex;
  > * {
    flex: 0 1 auto;
  }
}

%flex-1-1 {
  @extend %flex;
  > * {
    flex: 1 1 auto;
  }
}

%flex-1-0 {
  @extend %flex;
  > * {
    flex: 1 0 auto;
  }
}

%flex-1 {
  @extend %flex;
  > * {
    flex: 1;
  }
}

%flex-3-1 {
  @extend %flex;
  > * {
    flex: 3 1 auto;
  }
}

%flex-1-2 {
  @extend %flex;
  > * {
    flex: 1 2 auto;
  }
}

%row-0-1 {
  @extend %flex-0-1;
  @extend %flex-row;
}

%row-1-0 {
  @extend %flex-1-0;
  @extend %flex-row;
}

%row-1-1 {
  @extend %flex-1-1;
  @extend %flex-row;
}

%row-1 {
  @extend %flex-1;
  @extend %flex-row;
}

%col-1 {
  @extend %flex-1;
  @extend %flex-col;
}

%col-1-1 {
  @extend %flex-1-1;
  @extend %flex-col;
}

%row-3-1 {
  @extend %flex-3-1;
  @extend %flex-row;
}

%col-3-1 {
  @extend %flex-3-1;
  @extend %flex-col;
}

%row-1-2 {
  @extend %flex-1-2;
  @extend %flex-row;
}

%col-1 {
  @extend %flex-1;
  @extend %flex-col;
}

%col-1-2 {
  @extend %flex-1-2;
  @extend %flex-col;
}

%bordered-section {
  @extend %col-1;
  padding-bottom: 1em;

  > h3 {
    flex: 0 1 auto;
    @extend %section-title;
  }
}

// base coloring
// ========================================
%basic-colors {
  background-color: $background;
  box-sizing: border-box;
  color: $base-font-color;
}

// tabs
// ========================================

%inactive-tab {
  @extend %section-title;
  color: $dim-fill-color;
  padding-bottom: $wrapper-padding;
  position: relative;
  transition: font-color 0.4s ease-out;

  &::before {
    content: '';
    border-bottom: 1px solid rgba($dim-font-color, 0);
    bottom: 0;
    left: 0;
    position: absolute;
    transition: border-color 0.4s ease-out, width 0.6s ease-in;
    width: 0;
  }

  &:hover {
    // background-color: rgba($dim-fill-color, 0.5);
    color: $dim-font-color;
    &::before {
      border-bottom: 1px solid $dim-font-color;
      width: 100%;
    }
  }
}

%active-tab {
  color: $base-font-color;
  // background-color: rgba($dim-stroke, 0.5);
  // background-color: rgba($dim-fill-color, 0.5);

  &::before {
    border-bottom: 1px solid $med-light-font-color;
    width: 100%;
  }

}

%tab-group {
  // border-bottom: 1px solid $dim-stroke;
  display: flex;
  font-size: 1.2em;
  position: relative;
  text-transform: uppercase;

  > label {
    @extend %inactive-tab;
    background-color: rgba($dim-stroke, 0);
    cursor: pointer;
    flex: 1 1 auto;
    line-height: 1;
    max-width: 25%;
    padding-top: 1.5em;
    transition: background-color 0.6s ease-in;

    input {
      display: none;
    }
  }
}

// sections
// ==========================================
%section-wrapper {
  padding: $wrapper-padding;
  position: relative;

  &::before {
    border: 1px solid $dim-stroke;
    bottom: 0;
    content: '';
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// weapons
// ===========================================

%weapons-cyber-section-header {
  @extend %section-title;
  font-size: 0.9em;
  padding-top: 0.8em;
}

%weapon-stat-name {
  color: $med-light-font-color;
  font-size: 1em;
  letter-spacing: 1px;
}

%weapon-stat-label-text {
  font-size: 0.8em !important;
  letter-spacing: 1px;
  opacity: 0.7;
}

%weapon-stat-description {
  font-size: 0.9em !important;
  letter-spacing: 1px;
}

%weapon-stat-label {
  @extend %weapon-stat-label-text;

  &::before {
    content: '';
    display: inline-block;
    height: 1.3em;
    margin-right: 0.4em;
    vertical-align: sub;
    width: 1.3em;
  }

  &:empty {
    @extend %hide;
  }
}

%weapon-description-toggle {
  > input {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
  }
}

%weapon-description {
  @extend %weapon-stat-description;
  display: block;
  margin-bottom: 0.8em;
  max-height: 1em;
  padding-left: 1.5em;
  padding-top: 0.3em;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  white-space: normal;

  &::before {
    color: $dim-font-color;
    content: '+ details';
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    height: 1.6em;
    position: relative;
    right: 1.5em;
  }
}

%weapon-description-visible {
  &::before {
    content: ' - details';
    white-space: pre;
  }

  max-height: 15em; // consider auto if descriptions are too tall
}

// forms
// ============================================
%stat-group {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 4em;

  > *:first-child, input {
    @extend %title-font;
    box-sizing: border-box;
    color: $light-font-color;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: center;

    &:empty {
      height: 1.8em;
    }
  }

  > *:first-child {
    line-height: 1.7;

    > *:first-child,
    > *:last-child {
      color: $light-font-color;
    }

    > *:nth-child(2) {
      color: $dim-font-color;
    }
  }

  > *:last-child {
    color: $dim-font-color;
    font-size: 0.9em;
    letter-spacing: 1px;
    line-height: 1;
    white-space: nowrap;
  }
}

%d10-roll-button {
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $dim-font-color !important;
  height: 2em;
  line-height: 0.6;
  margin: 0 !important;
  min-width: 2em;
  outline: 0;
  padding: 0 !important;
  position: relative;
  text-shadow: none;
  width: 2em;

  &:hover::before {
    color: $level-9;
  }

  &::before {
    // roll20 ties this styling to the .ui-dialog which can't be overridden with selectors :(
    content: 'j' !important;
    font-family: 'dicefontd10' !important;
    font-size: 2em;
    left: 50%;
    line-height: 0.7em;
    padding: 0 !important;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: color 0.5s ease-in-out;
  }
}