@font-face {
  font-family: 'Aldrich';
  src: url(https://fonts.gstatic.com/s/aldrich/v10/MCoTzAn-1s3IGyJMVacY3w.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url(https://fonts.gstatic.com/s/sharetechmono/v9/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

%base-font {
  color: $base-font-color;
  font-family: 'Aldrich', sans-serif;
  line-height: 1.4;
}

%title-font {
  color: $med-light-font-color;
  font-family: 'Share Tech Mono', monospace;
  font-weight: normal;
  line-height: 1.5;
}

%heading-1 {
  @extend %title-font;
  font-size: 1.5em;
}

%heading-2 {
  @extend %title-font;
  font-size: 1.4em;
}

%heading-3 {
  @extend %title-font;
  font-size: 1.3em;
}

%heading-4 {
  @extend %title-font;
  font-size: 1.2em;
}

%heading-5 {
  @extend %title-font;
  font-size: 1.1em;
}

%heading-6 {
  @extend %title-font;
  font-size: 1em;
}

%section-title {
  @extend %title-font;
  color: $base-font-color;
  font-size: 1.1em;
  letter-spacing: 2px;
  padding-left: $wrapper-padding;
}

.sheet-cp-2020 {
  @extend %base-font;

  button {
    @extend %title-font;
  }

  html {
    @extend %base-font;
  }

  h1 {
    @extend %heading-1;
  }
  h2 {
    @extend %heading-2;
  }
  h3 {
    @extend %heading-3;
  }
  h4 {
    @extend %heading-4;
  }
  h5 {
    @extend %heading-5;
  }
  h6 {
    @extend %heading-6;
  }

  label {
    @extend %title-font;
    font-size: 0.8em;
  }

  input,
  select,
  textarea,
  span[name] {
    @extend %base-font;
    font-size: 1.1em;
  }
}