$box-spacing: .2em;
$wrapper-padding: $box-spacing * 2;

$assets-base-path: 'https://raw.githubusercontent.com/gibbitz/roll20-cp2020/develop';
$assets-female-silhouette: '#{$assets-base-path}/src/assets/femaleSilhouette.svg';
$assets-male-silhouette: '#{$assets-base-path}/src/assets/maleSilhouette.svg';
$assets-icon-euro: '#{$assets-base-path}/src/assets/euro.svg';