$box-spacing: .2em;
$wrapper-padding: $box-spacing * 2;

$assets-base-path: 'https://raw.githubusercontent.com/gibbitz/roll20-cp2020/develop';
$assets-female-silhouette: '#{$assets-base-path}/src/assets/femaleSilhouette.svg';
$assets-male-silhouette: '#{$assets-base-path}/src/assets/maleSilhouette.svg';

$assets-icon-accuracy: '#{$assets-base-path}/src/assets/accuracy.svg';
$assets-icon-availability: '#{$assets-base-path}/src/assets/availability.svg';
$assets-icon-cartridge: '#{$assets-base-path}/src/assets/cartridge.svg';
$assets-icon-concealability: '#{$assets-base-path}/src/assets/concealability.svg';
$assets-icon-cost: '#{$assets-base-path}/src/assets/cost.svg';
$assets-icon-damage: '#{$assets-base-path}/src/assets/damage.svg';
$assets-icon-magazine: '#{$assets-base-path}/src/assets/magazine.svg';
$assets-icon-range: '#{$assets-base-path}/src/assets/range.svg';
$assets-icon-reliability: '#{$assets-base-path}/src/assets/reliability.svg';
$assets-icon-rof: '#{$assets-base-path}/src/assets/rof.svg';
$assets-icon-type: '#{$assets-base-path}/src/assets/type.svg';