$box-spacing: .2em;
$wrapper-padding: $box-spacing * 2;

$assets-female-silhouette: 'https://raw.githubusercontent.com/gibbitz/rolll20-cp2020/develop/src/assets/femaleSilhouette.svg';
$assets-male-silhouette: 'https://raw.githubusercontent.com/gibbitz/rolll20-cp2020/develop/src/assets/maleSilhouette.svg';