include ./general.pug
include ./initiative-template.pug
include ./save-template.pug
include ./unskilled-check-template.pug
include ./skill-check-template.pug
include ./attack/ranged.pug
include ./attack/melee.pug
include ./attack/hit.pug
include ./attack/supressive-fire.pug