- var roles = data.roles;

- var genders = [{value:'m', label:'Male'}, {value:'f', label:'Female'}, {value:'a', label:'Androgynous'}];

- var siblingAge = [{value:'younger', label:'Younger'}, {value:'older', label:'Older'}, {value:'twin', label:'Twin'}];