- var locations = ['Head', 'Torso', 'Right Arm', 'Left Arm', 'Right Leg', 'Left Leg']

+section('armor')
  input(name='attr_Armor_Sex' type='hidden' disabled='true' value='@{Gender}')
  div(class='cp-2020__armor__figure')
    each location in locations
        +armorField(location)
