div.cp-2020__bio
  label(for='attr_Age') Age
  input(type='text' name='attr_Age')
  label(for='attr_LifeEvents') Life Events
  textarea(name='attr_LifeEvents')
  label(for='attr_Style') Style and Motivations
  textarea(name='attr_Style')

  label(for='attr_Family') Family
  textarea(name='attr_Family')
  label(for='attr_Notes') Other Notes
  textarea(name='attr_Notes')