- var rollOptions = data.roles.map(item => ({ value: item, label: item }))

+section('identity')
  +attrField('Handle', 'handle')(type='text')
  +attrField('Name', 'given name')(type='text')
  div.cp-2020__layout--row-1-2
    +attrField('Age', 'age')(type='number')
    +attrSelect('Role', rollOptions, 'role')()
  +attrSelect('Gender', genders, 'gender')()
  +attrField('Nationality', 'ethnicity')(type='text')
  +attrField('Eddies', 'euro [€]')(type='text')

