- var nameToSelector = (name) => name.replace(/\s|\/|\(|\)/g, '-').replace(/\.|\:/g, '').replace('&', 'and').toLowerCase()
- var nameToAttrName = (name) => nameToSelector(name).replace(/\-/g, '_')
- var allSkills = [...data.skills, ...data.compoundSkills]
div.cp-2020__skills
  input(type='hidden' disabled='true' name='attr_Skill_Toggle_INdicator' value='@{Skill_Toggle}')
  div.cp-2020__learn-toggle
    label.cp-2020__learn-tab Learn
      input(type='radio' name='attr_Skill_Toggle' value='learn' checked='true')
    label.cp-2020__use-tab Use
      input(type='radio' name='attr_Skill_Toggle' value='use')
  div.cp-2020__inner-box
    input(name='attr_roleSelected' disabled='true' value='@{Role}' type='hidden')
    h5 SPECIAL ABILITY
    div.cp-2020__skills__column
      div.cp-2020__special-ability
        each skill in data.specialAbilities
          +skillWrapper(skill, data.specialAbilities)
    h5 CAREER SKILLS
    div.cp-2020__skills__column
      div.cp-2020__career-skills
        each skill in allSkills
          if(skill.career)
            +skillWrapper(skill, data.skills)

    h5 PICKUP SKILLS
    div.cp-2020__skills__column
      div.cp-2020__pickup-skills
        each skill in data.skills
          +skillWrapper(skill, data.skills)

