.sheet-cp-2020 {
  $base: &;

  &__armor {
    &__figure {
      background-repeat: no-repeat;
      background-size: contain;
      height: 20em;
      width: 100%;
    }

    [value='f'] + &__figure {
      background-image: url($assets-female-silhouette)
    }

    [value='m'] + &__figure {
      background-image: url($assets-male-silhouette)
    }
  }

  &__armor-table{

    td {
      padding: 0;
      position: relative;
      width: 15%;

      input[type=number] {
        height: 100%; // calc(100% - 2px);
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        // width: calc(100% - 2px);
      }
    }

    th {
      background-color: $dim-font-color;
      color: $background;
      font-weight: normal;
      padding: 0.3em;

      label {
        color: $background;
        padding: 0;
        text-align: center;
      }
    }

  }
}