.sheet-cp-2020 {
  $base: &;

  &__armor {
    &__figure {
      background-image: url($assets-male-silhouette);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 20em;
      position: relative;
      width: 20em;
    }

    [value='f'] + &__figure {
      background-image: url($assets-female-silhouette);
    }

    [value='m'] + &__figure {
      background-image: url($assets-male-silhouette);
    }

    #{$base}__box {
      position: absolute;
      width: auto;
      height: auto;
        input {
          width: 5em;
          display: block;

          + span {
            color: $base-font-color;
          }
        }
    }

    .sheet-armor-location{
      &--head {
        right: 1.6em;
      }
      &--torso {
        left: 1em;
        top: 3em;
      }
      &--right-arm {
        left: 0em;
        top: 8em;
      }
      &--left-arm {
        right: -1em;
        top: 6em;
      }
      &--right-leg {
        bottom: 1em;
        left: 1em;
      }
      &--left-leg {
        bottom: 3em;
        right: 1em;
      }
    }
  }

}