.cp-2020 {
  $base: &;

  &__armor {
    &__figure {
      background-image: url($assets-male-silhouette);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 18em;
      position: relative;
      width: 100%;

      @media screen and (max-width: $wrap-width) {
        margin: 0 auto;
        max-width: 240px;
      }
    }

    [value='f'] + &__figure {
      background-image: url($assets-female-silhouette);
    }

    [value='m'] + &__figure {
      background-image: url($assets-male-silhouette);
    }

    #{$base}__box {
      position: absolute;
      width: auto;
      height: auto;
        input {
          width: 5em;
          display: block;

          + span {
            color: $base-font-color;
          }
        }
    }

    .armor-location{
      &--head {
        left: 50%;
        transform: translateX(-50%);
      }
      &--torso {
        top: 3.8em;
        left: 50%;
        transform: translateX(-50%);
      }
      &--right-arm {
        left: 0;
        top: 6em;
      }
      &--left-arm {
        right: 0;
        top: 6em;
      }
      &--right-leg {
        bottom: 3em;
        left: 43%;
        transform: translateX(-100%);
      }
      &--left-leg {
        bottom: 3em;
        right: 48%;
        transform: translateX(100%);
      }
    }
  }

}