%character-column {
  flex: 0 1 auto;
}

.sheet-cp-2020{
  $base: &;
  &__character {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    > .sheet-cp-2020__character__column {
      &--identity {
        @extend %character-column;
        max-width: 25%;
      }

      &--vitals {
        @extend %character-column;
        max-width: 72%;
      }

      &--tabs {
        @extend %character-column;
        width: 100%;
      }
    }
  }
}