@import '../_partials/data';

$dataValues: map-get($data, 'data');
$stats: append(map-get($dataValues, 'stats'),'Combat');
$base: '.sheet-cp-2020';

%roll-reset {
  border: 0 !important;
  color: $light-font-color;
}

%crit {
  border: 0 !important;
  color: rgba($level-9, 0.5) !important;
}

%fumble {
  @extend %roll-reset;
  color: rgba($level-1, 0.7) !important;
}

%important-title {
  color: $background;
  padding: 2px 2px 0;
  margin-bottom: 0.2em;
}

%roll-template {
  @extend %basic-colors;
  @extend %bordered-section;
  @extend %base-font;
  color: $dim-font-color !important;
  padding: 0.5em;

  h3 {
    @extend %section-title;
    text-transform: uppercase;
  }

  #{$base}__initial-cap {
    text-transform: capitalize;
  }

  #{$base}__roll-template__result-wrapper {
    @extend %section-wrapper;
    letter-spacing: 1px;
  }

  .inlinerollresult,
  #{$base}__roll-template__digit,
  #{$base}__roll-template__result-digit {
    @extend %roll-reset;
    background: transparent;

    &.importantroll {
      @extend %roll-reset;
    }

    &.fullfail {
      @extend %fumble;
    }

    &.fullcrit {
      @extend %crit;
    }
  }

  #{$base}__roll-fail,
  #{$base}__roll-fumble {
    @extend %fumble;

    &__title {
      @extend %important-title;
      background: rgba($level-1, 0.5) !important;
    }

    + #{$base}__roll-success {
      @extend %hide;
    }
  }

  #{$base}__roll-critical{
    @extend %crit;

    &__title {
      @extend %important-title;
      background: rgba($level-9, 0.5) !important;
    }
  }

  #{$base}__roll-success {
  }


  #{$base}__roll-template__result-details {
    cursor: pointer;
    height: auto;
    max-height: 1em;
    overflow: hidden;
    pointer-events: initial;
    // transition: max-height 0.5s ease-in;

    &::before {
      content: '+ details';
      display: block;
      height: 1em;
      padding-bottom: .5em;
    }

    &:hover {
      max-height: 100%;
      // max-height: 500px;
      &::before {
        content: '   details';
        white-space: pre;
      }
    }

  }
}
%fumbleable-template {
  @each $stat, $statName in $stats {
    #{$base}__roll-fumble-wrapper--#{$stat} {
      > * {
        display: none;
      }
      #{$base}__roll-fumble--#{$stat} {
        display: block;
      }
    }
  }
}

.sheet-rolltemplate-save-template{
  @extend %roll-template;
  #{$base}__details {
     .fullfail,
     .fullcrit {
      color: $light-font-color !important;
     }
  }
}

.sheet-rolltemplate-general,
.sheet-rolltemplate-attack-hit {
  @extend %roll-template;
}

.sheet-rolltemplate-skill-check,
.sheet-rolltemplate-supressive-fire,
.sheet-rolltemplate-unskilled-check,
.sheet-rolltemplate-attack-melee,
.sheet-rolltemplate-attack-ranged {
  @extend %roll-template;
  @extend %fumbleable-template;
}