@import '../_partials/data';
@import '../_partials/placeholders';

$dataValues: map-get($data, 'data');
$roles: map-get($dataValues, 'roles');
$skills: map-get($dataValues, 'skills');
$special-abilities: map-get($dataValues, 'specialAbilities');

.sheet-cp-2020 {
  $base: &;


  &__skill {
    &__wrapper {
      padding: 0 0.3em 0.6em 0.8em;
    }

    label#{&}__name--view {
        color: white;
        cursor: pointer;
        display: block;
        font-size: 1.2em;
        letter-spacing: 1px;
        padding-left: 1em;
        position: relative;

        > input {
          opacity: 0.01;

          &:checked + #{$base}__skill__name__carat {
            &::before {
              transform: rotate(135deg);
            }
          }
        }

        #{$base}__skill__name__carat {
          left: 0;
          position: absolute;
          top: 30%;
            &::before {
              content: '';
              display: block;
              height: 0.3em;
              width: 0.3em;
              border: 2px solid $dim-font-color;
              border-left: 0;
              border-bottom: 0;
              transform: rotate(45deg);
              transition: transform 0.5s ease-out;
            }
        }
    }

    &__description {
      box-sizing: border-box;
        display: block;
        font-size: 1.05em;
        letter-spacing: 1px;
        max-height: 0;
        overflow: hidden;
        padding-top: 0.5em;
        transition: max-height 0.5s ease-in-out;
    }

    [value='expanded'] ~ &__description {
      max-height: 500px;
    }

    button#{$base}__skill__roll {
      @extend %d10-roll-button;
    }

    &__stat-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-around;

        > * {
          flex: 0 1 auto;
          margin: 0 .3em !important;
          white-space: nowrap;
        }
    }

    &__lvl--view {
      max-width: 5em;
      text-align: right;
    }

    &__lvl--edit {
        border-bottom: 1px solid $dim-font-color !important;
        max-width: 5em;
        text-align: right;
    }

    &__ip--edit {
        border-bottom: 1px solid $dim-font-color !important;
        max-width: 5em;
        text-align: center;
    }

    &__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  }

  &__skills {
    // GENERAL STYLING
    @extend %section-wrapper;

    #{$base}__inner-box {
      @extend %section-wrapper;
    }

    #{$base}__learn-toggle {
      @extend %tab-group;
    }

    input[value='learn'] {
      & ~ #{$base}__learn-toggle {
        #{$base}__use-tab {
          @extend %inactive-tab;
        }
        #{$base}__learn-tab {
          @extend %active-tab;
        }
      }
      & ~ #{$base}__inner-box {
        #{$base}__skill__stat-wrapper {
          #{$base}__skill__lvl--view {
            @extend %hide;
          }
          #{$base}__skill__roll {
            @extend %hide;
          }
        }
      }
    }
    input[value='use'] {
      & ~ #{$base}__learn-toggle{
        #{$base}__learn-tab {
          @extend %inactive-tab;
        }
        #{$base}__use-tab {
          @extend %active-tab;
        }
      }
      & ~ #{$base}__inner-box {
        #{$base}__skill__stat-wrapper {
          #{$base}__skill__lvl--edit {
            @extend %hide;
          }
        }

        #{$base}__pickup-skills {
          #{$base}__skill-learned {
            + #{$base}__skill {
              @extend %hide;
            }
          }
          @each $level in ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10') {
            [value='#{$level}'] + #{$base}__skill {
              @extend %show;
            }
          }
        }
      }
    }

    // BLOCK VISIBILITY
    @each $role in $roles {
      $role-selector: str-to-selector($role);
      [value='#{$role}'] {
        & ~ #{$base}__special-ability {
          #{$base}__skill {
            @extend %hide;
            @each $special-ability in $special-abilities {
              $ability-roles: map-get($special-ability, 'specialAbility');
              $ability-selector: str-to-selector(map-get($special-ability, 'skillName'), '#{$base}__skill-');
              @if str-index($ability-roles, $role) and 0 < str-index($ability-roles, $role) {
                &#{$ability-selector} {
                  @extend %show;
                }
              }
            }
          }
        }
        & ~ #{$base}__career-skills {
          #{$base}__skill {
            @extend %hide;
            @each $skill in $skills {
              $careers: '#{map-get($skill, 'career')}';
              $career-selector: str-to-selector(map-get($skill, 'skillName'), '#{$base}__skill-');
              @if $careers != '' and str-index($careers, $role) and 0 < str-index($careers, $role) {
                &#{$career-selector} {
                  @extend %show;
                }
              }
            }
          }
        }
      }
    }

    input#{$base}__skill__name {
      & ~ #{$base}__skill__description {
        @extend %hide;
      }
    }
    @each $special-ability in $special-abilities {
      $ability: map-get($special-ability, 'skillName');
      $ability-selector: str-to-selector($ability, '#{$base}__skill-');
      input#{$base}__skill__name[value='#{$ability}'] {
        & ~ #{$ability-selector}__description {
          @extend %show;
        }
      }
    }

  }
}

