.sheet-cp-2020 {
  $base: &;

  &__stats {

    &__character-points {
      // width: calc(100% - #{$box-spacing * 2});

      #{$base}__box--inner{
        @extend %flex-1;
        @extend %flex-row;


        &__group {
          @extend %stat-group;
        }

        > *:first-child {
          flex: 3;
        }
      }
    }

    &__view-grid {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex: 1 1 auto;
        height: auto;
        width: 24%;
      }
    }

    &__value-indicator {
      @extend %hide;
    }
    $level-colors: $level-1, $level-2, $level-3, $level-4, $level-5, $level-6, $level-7, $level-8, $level-9, $level-10;
    @for $index from 2 through 10 {
      $color: nth($level-colors, $index - 1);
      &__value-indicator[value='#{$index}']{
        + #{$base}__box {
          background-color: rgba($color, 0.06);

          &:hover,
          &:focus-within {
            background-color: rgba($color, 0.15);
          }
        }
      }
    }
  }

  &__stat {
    #{$base}__box--inner{
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    &__total-wrapper {
      display: flex;
      flex: 0.5 1 auto;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      #{$base}__stat__total {
      }
    }

    &__total {
      font-size: 1.7em;

      #{$base}__stat__value {
        color: $light-font-color !important;
        display: inline-block;
        max-width: 2.2em;
        text-align: right;
      }

      #{$base}__stat__abbr {
        color: $dim-font-color;
        display: inline-block;
        font-size: 0.7em;
        letter-spacing: 1px;
        margin-right: 0.3em;
        vertical-align: text-top;
      }

    }

    &__name {
      color: $base-font-color;
      font-size: 1.1em;
      letter-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 0.3em;
      height: 2.4em;
    }

    &__roll-btns {
      @extend %flex;
      flex: 1 1 9%;
      flex-direction: column;
      font-size: 0.8em;
      justify-content: space-around;
      max-width: 3em;
    }

    &__breakdown {
      display: flex;
      font-size: 0.6em;
      justify-content: space-between;
      max-width: 90%;
    }

    &__component {
      @extend %stat-group;
      flex: 0;
      font-size: 1.1em;

      &:last-child {
        input:not(:empty) {
          color : red;
          & + span {
            color: red;
          }
        }
      }
    }
  }

  @at-root .charsheet &__stat {
    &__check-btn{
      @extend %d10-roll-button;
    }

    &__save-btn {
      @extend %d10-roll-button;

      &::before {
        content: 'a' !important;
      }
    }
  }
}
