@import '../_partials/placeholders';

%stat-input {
  box-sizing: border-box;
  flex: 0 1 20%;
  margin-right: 1%;
  // max-width: 20%;
}

%stat-label {
  @extend %stat-input;
  flex: 2 0 auto;
  max-width: 30%;
  min-width: 10em;
  padding: 0;
}


.sheet-cp-2020{
  $base: &;

  &__stats {
    &__view-title {
      display: flex;
      justify-content: space-between;
    }

    &__character-points {
      > * {
        border: 0;
        display: inline;
        margin: 0 0 0 0.5em !important;
        padding: 0 !important;
        width: auto !important;
      }

      input[type='number'] {
        max-width: 2em;
      }
    }

    #{$base}__layout--row-1-1 {
      flex-wrap: wrap;
      > * {
        flex: 1 0 30%;
        height: auto;
      }

      #{$base}__layout--row-3-1 {
        justify-content: space-between;
      }
    }
  }

  &__stat {
      max-width: 250px;

      label {
        @extend %stat-label;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-between;
        > * {
          flex: 1 1 auto;
        }

        input[type='number'] {
          &[disabled] {
            font-size: 2em;
            width: 2em;
          }
        }
      }

      input[type='number'] {
        @extend %stat-input;

        &[disabled] {
          border: 0;
          color: $light-font-color;
          display: inline;
          font-size: 1.2em;
        }
      }

    &__abbr {
      font-size: 1.5em;
    }

    &__name {
      color: $med-light-font-color;
      font-size: 1.2em;
      white-space: nowrap;
    }

    &__total {
      align-items: baseline;
      display: flex;
      padding-left: 2.2em;
    }

    &__total-composite {
      padding-left: 1em !important;
      width: auto !important;
    }

    &__breakdown {
      input[type='number'] {
        text-align: center;
        color: $base-font-color;
      }
      text-align: center;
    }

    &__key--value {
      @extend %stat-input;
      color: $dim-font-color;
      font-size: 0.65em;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    &__key--label {
      @extend %stat-label;
    }

    &__character-points {
      padding-bottom: 1em;
    }
  }

  button#{$base}__stat__check-btn{
    @extend %d10-roll-button;
  }

  button#{$base}__stat__save-btn {
    @extend %d10-roll-button;
    &::before {
      content: 'a';
    }
  }
}