.sheet-cp-2020 {
  $base: &;

  &__weapons-cyber{
    @extend %section-wrapper;

    &__buy-toggle {
      @extend %tab-group;
    }

    &__wrapper {
      @extend %section-wrapper;
      @extend %flex-1;
      justify-content: space-between;
    }

    &__col {
      max-width: 49.5%;
    }

    #{$base}__weapons {
      @extend %bordered-section;
      height: 100%;

      h3 {
        @extend %weapons-cyber-section-header;
      }
    }

    #{$base}__weapon-section {
      &--buy {
        #{$base}__weapon-section__row {
          @extend %row-1;

          > * {
            min-width: 20%;
          }
        }
      }
      &--use {
        #{$base}__weapon-section__first-row {
          @extend %row-0-1;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.4em;

          #{$base}__weapon__attack-button--melee,
          #{$base}__weapon__attack-button--ranged,
          #{$base}__weapon__attack-button--full-auto,
          #{$base}__weapon__attack-button--explosive,
          #{$base}__weapon__attack-button--hit {
            @extend %hide;
            @extend %d10-roll-button;
            height: 1.5em;
          }

          #{$base}__weapon-buttons {
            display: flex;

            input {
              // @extend %hide;

              &[value='1']{
                + #{$base}__weapon__attack-button--melee,
                + #{$base}__weapon__attack-button--ranged,
                + #{$base}__weapon__attack-button--full-auto,
                + #{$base}__weapon__attack-button--explosive,
                ~ #{$base}__weapon__attack-button--hit  {
                  @extend %show;
                }
              }
            }
            #{$base}__weapon__attack-button--hit {
              &::before {
                font-family: 'dicefontd6' !important;
                font-size: 1.6em;
                line-height: 1em;
              }
            }
          }
        }

        #{$base}__weapon-section__row {
          @extend %row-0-1;
          align-items: baseline;
          flex-wrap: wrap;
          justify-content: space-between;

          > * {
            min-width: 14%;
            padding: 0 0.15em;
            white-space: nowrap;
          }
        }
      }
    }

    #{$base}__cyberware {
      @extend %bordered-section;
      height: 100%;

      h3 {
        @extend %weapons-cyber-section-header;
      }

      &-name[name] {
        @extend %weapon-stat-name;
      }

      &-type {
        @extend %weapon-stat-label-text;
        text-transform: lowercase;
      }
      &-damage {
        @extend %weapon-stat-label-text;
      }
      &-sdp {
        @extend %weapon-stat-label-text;
      }
      &-hl {
        @extend %weapon-stat-label-text;
      }
      &-cost {
        @extend %weapon-stat-label-text;
      }

      &__description-toggle {
        @extend %weapon-description-toggle;

        input:checked ~ #{$base}__cyberware-description {
          @extend %weapon-description-visible;
        }
      }

      &-description {
        @extend %weapon-description;
      }

    }

    #{$base}__cyberware-section {
      &--use {

      }
      &--buy {

      }
      &__row {
        @extend %row-1;
      }
    }

    input[value='use'] ~ &__buy-toggle {
      #{$base}__weapons-cyber__use-tab {
        @extend %active-tab;
      }
    }

    input[value='buy'] ~ &__buy-toggle {
      #{$base}__weapons-cyber__buy-tab {
        @extend %active-tab;
      }
    }

    input[value='use'] ~ &__wrapper {

      #{$base}__cyberware-section--buy,
      #{$base}__weapon-section--buy {
        @extend %hide;
      }
      .repcontrol {
        @extend %hide;
      }

      #{$base}__cyberware-section--use,
      #{$base}__weapon-section--use {
        @extend %show;
      }
    }

    input[value='buy'] ~ &__wrapper {
      #{$base}__cyberware-section--buy,
      #{$base}__weapon-section--buy {
        @extend %show;
      }

      #{$base}__cyberware-section--use,
      #{$base}__weapon-section--use {
        @extend %hide;
      }
    }

  }

  #{$base}__weapon-name[name] {
    @extend %weapon-stat-name;
  }

  &__weapon {

    &__description-toggle {
      @extend %weapon-description-toggle;

      input:checked ~ #{$base}__weapon-description {
        @extend %weapon-description-visible;
      }
    }

    &-description {
      @extend %weapon-description;
    }

    &-accuracy {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-accuracy);
      }
    }
    &-cartridge {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-cartridge);
      }
    }
    &-conc {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-concealability);
      }
    }
    &-cost {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-cost);
      }
    }
    &-damage {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-damage);
      }
    }
    &-magazine {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-magazine);
      }
    }
    &-range {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-range);
      }
    }
    &-blast-radius {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-blast-radius);
      }
    }
    &-rel {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-reliability);
      }
    }
    &-rof {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-rof);
      }
    }
    &-type {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-type);
      }
    }
    &-weight {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-weight);
      }
    }
  }
}