.sheet-cp-2020 {
  $base: &;

  &__weapons-cyber{

    &__buy-toggle {
      @extend %tab-group;
    }

    &__wrapper {
      @extend %section-wrapper;
    }

    #{$base}__weapon-section {
      &--buy {
        #{$base}__weapon-section__row {
          @extend %row-1;
        }
      }
      &--use {
        #{$base}__weapon-section__first-row {
          @extend %row-0-1;
          align-items: center;
          justify-content: space-between;

          #{$base}__weapon__attack-button {
            @extend %d10-roll-button;
          }
        }

        #{$base}__weapon-section__row {
          @extend %row-0-1;
          align-items: baseline;
          flex-wrap: wrap;
          justify-content: space-between;

          > * {
            white-space: nowrap;
          }
        }

        #{$base}__weapon__description-toggle {

          > input {
            pointer-events: none;
            position: absolute;
            visibility: hidden;
          }

          #{$base}__weapon-description {
            &::before {
              content: '+ details';
              cursor: pointer;
              display: block;
              height: 1em;
            }
            display: block;
            margin-bottom: 1.3em;
            max-height: 1em;
            overflow: hidden;
            transition: max-height 0.4s ease-in-out;
          }

          input:checked ~ #{$base}__weapon-description {
            &::before {
              content: ' - details';
              white-space: pre;
            }

            max-height: 6em; // consider auto if descriptions are too tall
          }
        }
      }
    }

    input[value='use'] ~ &__buy-toggle {
      #{$base}__weapons-cyber__use-tab {
        @extend %active-tab;
      }
    }

    input[value='buy'] ~ &__buy-toggle {
      #{$base}__weapons-cyber__buy-tab {
        @extend %active-tab;
      }
    }

    input[value='use'] ~ &__wrapper {

      #{$base}__cyberware-section--buy,
      #{$base}__weapon-section--buy {
        @extend %hide;
      }

      #{$base}__cyberware-section--use,
      #{$base}__weapon-section--use {
        @extend %show;
      }
    }

    input[value='buy'] ~ &__wrapper {
      #{$base}__cyberware-section--buy,
      #{$base}__weapon-section--buy {
        @extend %show;
      }

      #{$base}__cyberware-section--use,
      #{$base}__weapon-section--use {
        @extend %hide;
      }
    }

  }

  &__weapon {
    &-accuracy {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-accuracy);
      }
    }
    &-cartridge {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-cartridge);
      }
    }
    &-conc {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-concealability);
      }
    }
    &-cost {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-cost);
      }
    }
    &-damage {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-damage);
      }
    }
    &-magazine {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-magazine);
      }
    }
    &-range {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-range);
      }
    }
    &-rel {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-reliability);
      }
    }
    &-rof {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-rof);
      }
    }
    &-type {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-type);
      }
    }
    &-weight {
      @extend %weapon-stat-label;
      &::before {
        content: url($assets-icon-weight);
      }
    }
  }
}