- var jsonData = JSON.stringify(data)

script(type='text/worker')
  | var data = !{jsonData};
  |
  include ./utils.js
  include ./stats.js
  include ./skills.js
  include ./health.js
  include ./weapons.js