include ./pug/mixins/_index.pug
include ./pug/_globals.pug

div.cp-2020
  include ./pug/attribute-macros.pug
  div.cp-2020__character
    div.cp-2020__character__row--basics
      include ./pug/identity.pug
      include ./pug/stats.pug
    div.cp-2020__character__row--vitals
      include ./pug/armor.pug
      include ./pug/health.pug
    div.cp-2020__character__row--tabs
      include ./pug/tab-navigation.pug
      include ./pug/bio.pug
      include ./pug/skills.pug
      include ./pug/weapons.pug
      include ./pug/outfit.pug
      include ./pug/ice.pug
  include ./pug/roll-templates/index.pug
  include ./sheet-workers/index.pug