@import 'scss/_partials/functions';
@import 'scss/_partials/reset';
@import 'scss/_partials/colors';
@import 'scss/_partials/variables';
@import 'scss/_partials/typography';
@import 'scss/base-formatting';
@import 'scss/layout';
@import 'scss/forms';
@import 'scss/box';
@import 'scss/_components/tab-navigation';
@import 'scss/_components/stats';
@import 'scss/_components/armor';
@import 'scss/_components/health';
@import 'scss/_components/skills';
@import 'scss/_components/bio';


.sheet- {
  &cp-2020 {
    background-color: $background;
    color: $base-font-color;
  }
}