div.cp-2020
  div.cp-2020__character
    div.cp-2020__character__column
      include ./pug/identity.pug
      include ./pug/stats.pug
      include ./pug/bio.pug
    div.cp-2020__character__column
      include ./pug/armor.pug
      include ./pug/health.pug