.sheet-cp-2020 {
  @extend %basic-colors;
  left: 0;
  min-height: calc(100% - 81px);
  min-width: calc(100% - 6px);
  padding: 1rem;
  position: absolute;

  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0
    }

    &[type='number'] {
      -moz-appearance:textfield;
    }
  }

  .repcontrol {
    margin-top: 0.3em;

    button {
      background: $link-off;
      border: 0 !important;
      border-radius: 0;
      box-shadow: none;
      color: $background;
      letter-spacing: 1px;
      outline: 0 !important;
      text-shadow: none;
      text-transform: uppercase;
      transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

      &:hover,
      &:focus {
        background: $link-hilite;
        color: $light-font-color;
      }
    }
  }

  .itemcontrol {
    z-index: 10;
  }
}

