%cornered {
  border: 1px solid rgba($box-corner-color, 0.8);
  content: '';
  display: block;
  filter: blur(0.7px);
  height: $box-spacing * 1.5;
  position: absolute;
  width: $box-spacing * 1.5;
  z-index: 0;
}

.cp-2020{
  &__box {
    background-color: rgba($dark-reverse-font-color, 0.3);
    border: 1px solid $box-border-color;
    box-sizing: border-box;
    display: inline-block;
    // height: calc(100% - 9px);
    margin: $box-spacing;
    padding: $box-spacing * 2;
    position: relative;
    transition: background-color .6s ease-out;
    width: calc(100% - #{$box-spacing * 2}); // adjust for margin
    z-index: 0;

    &:hover,
    &:focus-within {
      background-color: rgba($dark-reverse-font-color, 0.95);
    }

    &::after {
      @extend %cornered;
      border-left: 0;
      border-top: 0;
      bottom: -1px;
      right: -1px;
    }

    &::before {
      @extend %cornered;
      border-bottom: 0;
      border-right: 0;
      left: -1px;
      top: -1px;
    }

    &--inner{
      display: block;
      height: 100%;

      &::before {
        @extend %cornered;
        border-bottom: 0;
        border-left: 0;
        right: -1px;
        top: -1px;
      }

      &::after {
        @extend %cornered;
        border-right: 0;
        border-top: 0;
        bottom: -1px;
        left: -1px;
      }
    }
  }

  &__field {
    &--third {
      width: calc(33% - 7px);
    }

    &--two-thirds {
      width: calc(66% - 7px);
    }
  }
}