%text-field {
  background-color: transparent;
  border-radius: 0;
  border-color: $dim-font-color;
  color: $light-font-color;
  letter-spacing: 1px;
  margin-bottom: .3em;
  width: 100%;

  &:focus {
    border-radius: 0;
    border-color: $med-light-font-color !important;
    outline-width: 0;
    outline-color:  $med-light-font-color;
  }
}

%button {
  background: $link-off;
  border: 0 !important;
  border-radius: 0;
  box-shadow: none;
  color: $background;
  letter-spacing: 1px;
  outline: 0 !important;
  text-shadow: none;
  text-transform: uppercase;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

  &:hover,
  &:focus {
    background: $link-hilite;
    color: $light-font-color;
  }
}

.sheet-cp-2020 {
  label {
    color: $dim-font-color;
    margin: 0;
    // padding: 0.7em 1em .3em 0;
    input + span {
      font-size: 0.85em;
      letter-spacing: 2px;
    }
  }

  &__box--inner {
    > label {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;

      > input {
        flex: 1 0 auto;

        + span {
          flex: 1;
        }
      }
    }
  }

  input {
    &[type=text],
    &[type=password],
    &[type=number] {
      @extend %text-field;
    }
  }

  select {
    @extend %text-field;
    option {
      color: $black;
    }
  }

  textarea {
    @extend %text-field;
    box-sizing: border-box;
    height: auto;
    resize: vertical;
  }

  &__box {
    input,
    label,
    select,
    textarea {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  &__inner-box {
    @extend %section-wrapper;
  }
}