%text-field {
  background-color: transparent;
  border-radius: 0;
  border-color: $dim-font-color;
  color: $light-font-color;
  letter-spacing: 1px;
  width: 100%;

  &:focus {
    border-radius: 0;
    border-color: $med-light-font-color !important;
    outline-width: 0;
    outline-color:  $med-light-font-color;
  }
}
.sheet-cp-2020 {
  label {
    color: $dim-font-color;
    margin: 0;
    // padding: 0.7em 1em .3em 0;
  }

  input {
    &[type=text],
    &[type=password],
    &[type=number] {
      @extend %text-field;
    }
  }

  select {
    @extend %text-field;
    option {
      color: $black;
    }
  }

  textarea {
    @extend %text-field;
    box-sizing: border-box;
    height: auto;
  }

  &__box {
    input,
    label,
    select,
    textarea {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }

  &__inner-box {
    @extend %section-wrapper;
  }
}