.sheet-cp-2020 {
  &__layout {
    &--row-1-1 {
      display: flex;

      > * {
        flex: 1 1 auto;
      }
    }

    &--col-1-1 {
      display: flex;
      flex-direction: column;

      > * {
        flex: 1 1 auto;
      }
    }

    &--row-3-1 {
      display: flex;
      > *:first-child {
        flex: 0 3 auto;
      }

      > *:last-child {
        flex: 0 1 auto;
        margin-right: 0;
      }
    }

    &--row-1-2 {
      display: flex;

      > *:first-child {
        flex: 0 2 auto;
      }

      > *:last-child {
        flex: 0 1 auto;
        margin-right: 0;
      }
    }
  }
}