%flex {
  display: flex;
}

%flex-row {
  flex-direction: row;
  flex-wrap: wrap;
}

%flex-col {
  flex-direction: column;
}

%flex-1-1 {
  @extend %flex;
  > * {
    flex: 1 1 auto;
  }
}

%flex-1 {
  @extend %flex;
  > * {
    flex: 1;
  }
}

%flex-3-1 {
  @extend %flex;
  > * {
    flex: 3 1 auto;
  }
}

%flex-1-2 {
  @extend %flex;
  > * {
    flex: 1 2 auto;
  }
}

%row-1-1 {
  @extend %flex-1-1;
  @extend %flex-row;
}

%row-1 {
  @extend %flex-1;
  @extend %flex-row;
}

%col-1-1 {
  @extend %flex-1-1;
  @extend %flex-col;
}

%row-3-1 {
  @extend %flex-3-1;
  @extend %flex-row;
}

%col-3-1 {
  @extend %flex-3-1;
  @extend %flex-col;
}

%row-1-2 {
  @extend %flex-1-2;
  @extend %flex-row;
}

%col-1-2 {
  @extend %flex-1-2;
  @extend %flex-col;
}
